.btn {
    // height: 30px;
    padding: 0 17px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    -o-transition: background .1s,color .1s;
    transition: background .1s,color .1s;
    font-size: 13px;
    line-height: 40px;
    font-weight: 400;
    color: #222;
    outline: none;
    
    &:hover {
        box-shadow: none;
        outline: none;
    }
    
    &:active {
    }

    // Modificator '.btn.btn--blue'
    &&--blue {
        color: #fff;
        background: #235789;
        
        &:hover {
            color: #fff;
            background: #4285c3
        }
        
        &:active {
            color: #fff;
            background: #1c5e9c
        }
        
        &:hover {
            text-decoration: none;
        }
    }

    // Modificator '.btn.btn--gray'
    &&--gray {
        color: #828282;
        background: #E0E0E0;
        
        &:hover {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:active {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:hover {
            text-decoration: none;
        }
    }
    
    
}

// -----------------------------------------------------------------
// Block '.link'
// -----------------------------------------------------------------
.link{
    color: inherit;
    background: none;
    text-decoration: none;
    
    &:hover{
        text-decoration: none;
    }

    &&--dotted{
        border-bottom: 1px dotted;
    }

    &&--dashed{
        border-bottom: 1px dashed;
    }
}