.btn {
    display: inline-block;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    padding: 0 17px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    -o-transition: background .1s,color .1s;
    transition: background .1s,color .1s;
    font-size: 13px;
    line-height: 38px;
    font-weight: 400;
    color: #222;
    outline: none;
    
    &:hover {
        box-shadow: none;
        outline: none;
    }

    &:disabled{
        opacity: .5;
        cursor: default;
    }
    
    &:active {
        
    }

    & + &{
        margin-left: 10px;
    }


    &&--arrow-top-white,
    &&--arrow-bottom-white{
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 15px;
            width: 40px;
            height: 40px;
        }
    }
    &&--arrow-top-white{
        &:before{
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0iQ2FudmFzIiBmaWxsPSJub25lIj48ZyBpZD0iQXJyb3cgMiI+PHBhdGggZD0iTSAxOC43MDcxIDAuNzA3MTA3QyAxOS4wOTc2IDAuMzE2NTgyIDE5LjA5NzYgLTAuMzE2NTgyIDE4LjcwNzEgLTAuNzA3MTA3TCAxMi4zNDMxIC03LjA3MTA3QyAxMS45NTI2IC03LjQ2MTU5IDExLjMxOTUgLTcuNDYxNTkgMTAuOTI4OSAtNy4wNzEwN0MgMTAuNTM4NCAtNi42ODA1NCAxMC41Mzg0IC02LjA0NzM4IDEwLjkyODkgLTUuNjU2ODVMIDE2LjU4NTggMEwgMTAuOTI4OSA1LjY1Njg1QyAxMC41Mzg0IDYuMDQ3MzggMTAuNTM4NCA2LjY4MDU0IDEwLjkyODkgNy4wNzEwN0MgMTEuMzE5NSA3LjQ2MTU5IDExLjk1MjYgNy40NjE1OSAxMi4zNDMxIDcuMDcxMDdMIDE4LjcwNzEgMC43MDcxMDdaTSAwIDFMIDE4IDFMIDE4IC0xTCAwIC0xTCAwIDFaIiB0cmFuc2Zvcm09Im1hdHJpeCgwIC0xIC0xIDAgNy42NTY3NCAxOS43ODcxKSIgZmlsbD0id2hpdGUiLz48L2c+PC9nPjwvc3ZnPg==);
        }
    }
    &&--arrow-bottom-white{
        &:before{
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBpZD0iQ2FudmFzIiBmaWxsPSJub25lIj48ZyBpZD0iQXJyb3cgMiI+PHBhdGggZD0iTSAxOC43MDcxIDAuNzA3MTA3QyAxOS4wOTc2IDAuMzE2NTgzIDE5LjA5NzYgLTAuMzE2NTgzIDE4LjcwNzEgLTAuNzA3MTA3TCAxMi4zNDMxIC03LjA3MTA3QyAxMS45NTI2IC03LjQ2MTU5IDExLjMxOTUgLTcuNDYxNTkgMTAuOTI4OSAtNy4wNzEwN0MgMTAuNTM4NCAtNi42ODA1NCAxMC41Mzg0IC02LjA0NzM4IDEwLjkyODkgLTUuNjU2ODVMIDE2LjU4NTggMEwgMTAuOTI4OSA1LjY1Njg1QyAxMC41Mzg0IDYuMDQ3MzggMTAuNTM4NCA2LjY4MDU0IDEwLjkyODkgNy4wNzEwN0MgMTEuMzE5NSA3LjQ2MTU5IDExLjk1MjYgNy40NjE1OSAxMi4zNDMxIDcuMDcxMDdMIDE4LjcwNzEgMC43MDcxMDdaTSAwIDFMIDE4IDFMIDE4IC0xTCAwIC0xTCAwIDFaIiB0cmFuc2Zvcm09Im1hdHJpeCgwIDEgMSAwIDcuNjU2NzQgMC4wODAwNzgxKSIgZmlsbD0id2hpdGUiLz48L2c+PC9nPjwvc3ZnPg==);
        }
    }

    &&--arrow-left,
    &&--arrow-right{
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            border: 7px solid transparent;
        }
    }
    
    &&--arrow-left{
        &:before{
            border-right-color: #828282;
            margin-top: -6px;
            margin-left: -10px;
        }
    }

    &&--arrow-right{
        &:before{
            border-left-color: #828282;
            margin-top: -6px;
            margin-left: -2px;
        }
    }

    // Modificator '.btn.btn--square'
    &&--square {
        height: 40px;
        width: 40px;
    }

    // Modificator '.btn.btn--blue'
    &&--phone {
        .btn__icon{
            width: 12px;
            height: 16px;
        }
    }

    // Modificator '.btn.btn--blue'
    &&--blue {
        color: #fff;
        background: #235789;
        
        &:hover {
            color: #fff;
            background: #4285c3
        }
        
        &:active {
            color: #fff;
            background: #1c5e9c
        }
        
        &:hover {
            text-decoration: none;
        }
    }

    // Modificator '.btn.btn--gray'
    &&--gray {
        color: #828282;
        background: #E0E0E0;
        
        &:hover {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:active {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:hover {
            text-decoration: none;
        }
    }
    
    // -----------------------------------------------------------------
    // All elements
    // -----------------------------------------------------------------

    // Element '.btn .btn__icon'
    & &__icon{
        width: 12px;
        height: 12px;
        margin-right: 6px;
    }

    // Element '.btn .btn__text'
    & &__text{
        display: inline-block;
        vertical-align: middle;
    }
    
}

// -----------------------------------------------------------------
// Block '.link'
// -----------------------------------------------------------------
.link{
    color: inherit;
    background: none;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    
    &:hover{
        text-decoration: none;
    }

    // ------------------------------------------------------------
    // All modificators
    // ------------------------------------------------------------
    // Modificator '.link.link--dashed'
    &&--dashed{
        border-bottom: 1px dashed;
    }
    
    // Modificator '.link.link--blue'
    &&--blue{
        color: #235789;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){

    .btn{

        .btn__icon{
            display: none;
        }
    }

}