.btn {
    display: inline-block;

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    padding: 0 17px;
    border: 0;
    border-radius: 4px;
    outline: 0;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    -o-transition: background .1s,color .1s;
    transition: background .1s,color .1s;
    font-size: 13px;
    line-height: 38px;
    font-weight: 400;
    color: #222;
    outline: none;
    
    &:hover {
        box-shadow: none;
        outline: none;
    }
    
    &:active {
        
    }

    & + &{
        margin-left: 10px;
    }


    &&--arrow-left,
    &&--arrow-right{
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            border: 7px solid transparent;
        }
    }
    
    &&--arrow-left{
        &:before{
            border-right-color: #828282;
            margin-top: -6px;
            margin-left: -10px;
        }
    }
    &&--arrow-right{
        &:before{
            border-left-color: #828282;
            margin-top: -6px;
            margin-left: -2px;
        }
    }

    // Modificator '.btn.btn--square'
    &&--square {
        height: 40px;
        width: 40px;
    }

    // Modificator '.btn.btn--blue'
    &&--phone {
        .btn__icon{
            width: 12px;
            height: 16px;
        }
    }

    // Modificator '.btn.btn--blue'
    &&--blue {
        color: #fff;
        background: #235789;
        
        &:hover {
            color: #fff;
            background: #4285c3
        }
        
        &:active {
            color: #fff;
            background: #1c5e9c
        }
        
        &:hover {
            text-decoration: none;
        }
    }

    // Modificator '.btn.btn--gray'
    &&--gray {
        color: #828282;
        background: #E0E0E0;
        
        &:hover {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:active {
            color: #828282;
            background: #E0E0E0;
        }
        
        &:hover {
            text-decoration: none;
        }
    }
    
    // -----------------------------------------------------------------
    // All elements
    // -----------------------------------------------------------------

    // Element '.btn .btn__icon'
    & &__icon{
        width: 12px;
        height: 12px;
        margin-right: 6px;
    }

    // Element '.btn .btn__text'
    & &__text{
        display: inline-block;
        vertical-align: middle;
    }
    
}

// -----------------------------------------------------------------
// Block '.link'
// -----------------------------------------------------------------
.link{
    color: inherit;
    background: none;
    text-decoration: none;
    
    &:hover{
        text-decoration: none;
    }

    // ------------------------------------------------------------
    // All modificators
    // ------------------------------------------------------------
    // Modificator '.link.link--dashed'
    &&--dashed{
        border-bottom: 1px dashed;
    }
    
    // Modificator '.link.link--blue'
    &&--blue{
        color: #235789;
    }
}